<div class="container">
    <div class="card">
        <div class="card-header">
          Lista de Tareas
        </div>
        <div class="card-body">
    
                <div class="col-auto">
                  <label for="inputPassword2" class="visually-hidden">Password</label>
                  <input type="text" [(ngModel)]="nuevaTarea"  class="form-control" id="inputPassword2" placeholder="Nueva Tarea">
                </div>
                <br>
                <div class="col-auto">
                  <button type="submit" (click)="agregarTarea()" class="btn btn-primary mb-3">Ingresar</button>
                </div>
         
        
            <hr class="border border-primary border-3 opacity-75">
            <table class="table">
                <tbody>
                    <tr *ngFor="let tarea of listaTarea; let i = index">
                        <td>{{tarea}}</td>
                        <td><button (click)="eliminarTarea(i)"  type="button" class="btn btn-outline-danger">Eliminar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
